<!DOCTYPE html>
<html>
<head>

<meta charset=utf-8 />
<title>Morris.js Bar Chart Example</title>
<link rel="stylesheet" href="/home/theoelia/Staff_Test/static/morris.js-0.5.1/morris.css" />
</head>
<body>
  <div id="bar-example"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://pharst.pywe.org/static/js/jquery.min.js"></script>
  <script src="/home/theoelia/Staff_Test/static/morris.js-0.5.1/morris.min.js"></script>
  <script>
      /*
 * Play with this code and it'll update in the panel opposite.
 *
 * Why not try some of the options above?
 */
Morris.Bar({
  element: 'bar-example',
  data: [
    { y: '2006', a: 50, b: 10 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Mean', 'S.D']
});
  </script>
</body>
</html>
