<!doctype html>
<html class="no-js" lang="">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Staff Assessment Portal | Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/static/assets/font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/assets/style.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>

    <section class="fxt-template-animation fxt-template-layout7" style="background-color: #38409c;">
        <div class="container">
            <div class="row align-items-center justify-content-center" style="margin-bottom: 40px;margin-top: 20px;">
                <div class="col-xl-6 col-lg-8 col-sm-12 col-12" style="text-align: center !important;">
                    <div class="fxt-header">
                        <a href="/" class="fxt-logo"><img src="/static/assets/img/logo-7.png" alt="Logo"></a>
                    </div>
                    <h1 style="color: #ffff;;">Welcome (User)</h1>
                    <h3 style="color: #ffff;">Select the Curriculum Test You will Like to take.</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-4 col-lg-4 col-sm-12 col-12 fxt-bg-color">
                    <div class="fxt-content" style="border-radius: 10px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
">

                        <div class="fxt-footer">
                            <div class="fxt-transformY-50 fxt-transition-delay-9">
                                <p style="color: black; font-weight: 700;">DESIGN PROCESS</p>
                                <p><a href="#" class="switcher-text3">Start</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End First -->

                <div class="col-xl-4 col-lg-4 col-sm-12 col-12 fxt-bg-color">
                    <div class="fxt-content" style="border-radius: 10px;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
">

                        <div class="fxt-footer">
                            <div class="fxt-transformY-50 fxt-transition-delay-9">
                                <p style="color: black; font-weight: 700;">THE CURRICULUM</p>
                                <p><a href="#" class="switcher-text3">Start</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Second -->

                <div class="col-xl-4 col-lg-4 col-sm-12 col-12 fxt-bg-color">
                    <div class="fxt-content" style="border-radius: 10px;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
">

                        <div class="fxt-footer">
                            <div class="fxt-transformY-50 fxt-transition-delay-9">
                                <p style="color: black; font-weight: 700;">IMPLEMENTATION</p>
                                <p><a href="#" class="switcher-text3">Start</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Third -->
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="/static/assets/js/jquery-3.5.0.min.js"></script>
    <!-- Popper js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Validator js -->
    <script src="/static/assets/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="/static/assets/js/main.js"></script>

</body>

</html>