<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Staff Assessment Portal | Curriculum</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/assetss/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/assetss/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/assetss/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/assetss/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/assetss/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/static/assetss/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assetss/css/style.css" rel="stylesheet">
	<link href="/static/assetss/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/static/assetss/css/custom.css" rel="stylesheet">
	<script>
	window.questions = {};
	</script>

</head>

<body class="style_3">
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<header>
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-5">
	                <a href="/"><img src="/static/assets/img/logo-7.png.jpg" alt="" style="padding: 14px 0px;width: 150px;" ></a>
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	</header>
	<!-- /header -->
<div class="wrapper_centering">
	    <div class="container_centering">
	        <div class="container">
	            <div class="row justify-content-between">
	                <div class="col-xl-6 col-lg-6 d-flex align-items-center">
	                    <div class="main_title_1">
	                        <h3>{{indicator.name}}</h3>
	                        <p>Indicator {{indicator.code}}</p>
	                        <!-- <p><em>- The Satisfyc Team</em></p> -->
	                    </div>
	                </div>
	                <!-- /col -->
	                <div class="col-xl-5 col-lg-5">
	                    <div id="wizard_container">
	                        <div id="top-wizard">
	                            <div id="progressbar"></div>
	                        </div>
	                        <!-- /top-wizard -->
	                        <form id="wrapped" method="Dialog" autocomplete="off">
	                            <input id="website" name="website" type="text" value="">
	                            <!-- Leave for security protection, read docs for details -->
	                            <div id="middle-wizard">

	                                <div class="step">
	                                    <h3 class="main_question">{{indicator.question}}</h3>
	                                    <div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="poor_1" name="question_1" class="required" value="Yes" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="poor_1"></label>
	                                                    <label for="poor_1" class="wrapper">Yes</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="average_1" name="question_1" class="required" value="No" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="average_1"></label>
	                                                    <label for="average_1" class="wrapper">No</label>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
                                        <div class="form-group terms">
	                                        <label class="container_check">Please verify  <a href="#" data-toggle="modal" data-target="#terms-txt" style="color:#fff; text-decoration: underline;">Document</a>
	                                            <input type="checkbox" name="terms" id="verify" value="Yes" class="required">
	                                            <span class="checkmark"></span>
	                                        </label>
										</div>
									{% if indicator.code == "A1" %}
										<a class="btn btn-warning" href="/accounts/test/B1/">Skip Entire Section A</a>
									{% elif indicator.code == "B1" %}
										<a class="btn btn-warning" href="/accounts/test/C1/">Skip Entire Section B</a>
									{% elif indicator.code == "C1" %}
									<a class="btn btn-warning" href="/accounts/results/">Skip Entire Section C</a>
									{% endif %}
	                                </div>
	                                <!-- /step 1-->
									{% for statement in indicator.questions.all %}
									
									{% if forloop.last%}
									<div class="submit step">
										
									{% else %}
	                                <div class="step">
									{% endif %}
									{% if forloop.last%}
									<script>
										window.questions[''+"{{indicator.code}}"] = []
										window.questions[''+"{{indicator.code}}"].push("{{statement.statement}}");
									</script>
									{% else %}
									<script>
										window.questions[''+"{{indicator.code}}"].push("{{statement.statement}}");
									</script>
									{% endif %}
									{% for doc in statement.resources.all %}
									<div class="form-group terms">
										<label class="container_check">Please read and verify this  <a href="{{doc.document.url}}" target="_" style="color:#fff; text-decoration: underline;">Document</a> to score the statements that follow 
											<input type="checkbox" name="doc" id="doc" value="Yes" class="required" required="required">
											<span class="checkmark"></span>
										</label>
									</div>
									{% endfor%}
	                                    <h3 class="main_question mb-4">{{statement.statement}}</h3>
						
										
										<div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input required="required" type="radio" id="no{{statement.id}}" name="{{statement.indicator.code}}" class="required" value="5" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="no{{statement.id}}"></label>
	                                                    <label for="no{{statement.id}}" class="wrapper">Strongly Agree</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input required="required" type="radio" id="maybe{{statement.id}}" name="{{statement.indicator.code}}" class="required" value="4" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="maybe{{statement.id}}"></label>
	                                                    <label for="maybe{{statement.id}}" class="wrapper">Agree</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input required="required" type="radio" id="probably{{statement.id}}" name="{{statement.indicator.code}}" class="required" value="3" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="probably{{statement.id}}"></label>
	                                                    <label for="probably{{statement.id}}" class="wrapper">Neutral</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input required="required" type="radio" id="sure{{statement.id}}" name="{{statement.indicator.code}}" class="required" value="2" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="sure{{statement.id}}"></label>
	                                                    <label for="sure{{statement.id}}" class="wrapper">Disagree</label>
	                                                </div>
												</li>
												<li>
	                                                <div class="checkbox_radio_container">
	                                                    <input required="required" type="radio" id="there{{statement.id}}" name="{{statement.indicator.code}}" class="required" value="1" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="there{{statement.id}}"></label>
	                                                    <label for="there{{statement.id}}" class="wrapper">Strongly Disagree</label>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
									<!-- /step 2-->
									{% endfor %}

	                            </div>
	                            <!-- /middle-wizard -->

	                            <div id="bottom-wizard">
	                                <button type="button" name="backward" class="backward">Prev</button>
	                                <button type="button" name="forward" class="forward">Next</button>
	                                <button type="submit" name="process" class="submit">Submit</button>
	                            </div>
	                            <!-- /bottom-wizard -->

	                        </form>
	                    </div>
	                    <!-- /Wizard container -->
	                </div>
	                <!-- /col -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container_centering -->
<!-- Footer -->
    <footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                Copyright {% now 'Y' %}. All rights reserved.
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container-fluid -->
</footer>
<!-- /footer -->
</div>
<!-- /wrapper_centering -->

<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="termsLabel">Verification Required</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn_1" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- COMMON SCRIPTS -->
<script src="/static/assetss/js/jquery-3.2.1.min.js"></script>
<script src="/static/assetss/js/common_scripts.min.js"></script>
<script src="/static/assetss/js/functions.js"></script>

<!-- Wizard script -->
<script src="/static/assetss/js/survey_func.js"></script>
<script>
	
	window.total = parseInt("{{total}}");
	window.indicator = "{{indicator.code}}";
	window.next = "{{next}}";
	function exists(ele){
		if (ele !== null && ele !== undefined){return true}else{return false}
	}
	var myscore = localStorage.getItem("scores");
	if (exists(myscore)){
		var url = window.location.pathname
		var current = url.split("/")[3]
		if(current === "A1"){
			window.scores = {};
			localStorage.setItem("scores",JSON.stringify(window.scores));
		}else{		
			window.scores = JSON.parse(myscore)
		}
	}else{
	window.scores = {};
	localStorage.setItem("scores",JSON.stringify(window.scores))
	};

</script>


</body>
</html>
